.container {
   min-height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url("../public/sablier.png") no-repeat;
   background-size: cover;
   background-position: center;
   margin-top: 64px;
}
.wrapper {
   width: 420px;
   background: transparent;
   border: 2px solid rgba(255,255,255,0.2);
   backdrop-filter: blur(40px);
   box-shadow: 0 0 10px rgba(0,0,0,0.6);
   color: #fff;
   border-radius: 10px;
   padding: 30px 40px;
}
.wrapper .h1 {
   font-size: 36px;
   font-weight: 600;
   text-align: center;
}
.wrapper .inputBox {
   /* display: flex; */
   position: relative;
   width: 100%;
   height: 50px;
   margin: 30px 0;
}
.inputBox .input {
   width: 100%;
   height: 100%;
   background: transparent;
   border: 2px solid rgba(255,255,255,0.2);
   outline: none;
   border-radius: 40px;
   font-size: 18px;
   color: #fff;
   padding: 20px 45px 20px 20px;
}
.inputBox .input::placeholder {
   color: #fff;
}
.inputBox .icon {
   position: absolute;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
}
.wrapper .rememberForgot {
   display: flex;
   justify-content: space-between;
   font-size: 14.5px;
   margin: -15px 0 15px;
}

.rememberForgot .label .input {
   accent-color: #fff;
   margin-right: 4px;
}
.rememberForgot .a {
   color: #fff;
   text-decoration: none;
}
.rememberForgot .a:hover {
   text-decoration: underline;
}
.wrapper .button {
   width: 100%;
   height: 45px;
   background: #fff;
   color: #333;
   border: none;
   outline: none;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
   cursor: pointer;
   font-size: 18px;
   font-weight: 600;
}
.wrapper .registerLink{
   font-size: 14.5px;
   text-align: center;
   margin: 20px 0 15px;
}
.registerLink .p .span {
   color: #fff;
   text-decoration: none;
   font-weight: 600;
   cursor: pointer;
   transition: all 0.5s;
}
.registerLink .p .span:hover {
   text-decoration: underline;
   /* color: #000; */
   transform: scale(1.1);
}